body {
    font-size: 16px;
    overflow: hidden;
    color: #2e3747;
    margin: 0 auto;
}

.header_top {
    display: flex;
    align-items: center;
    background-color: rgb(137, 143, 224);
    height: 45.78px;
    left: 86px;
    top: 37px;
    list-style: none;
    justify-content: space-around;



}

.logo {
    width: 158px;
    height: 38px;
    left: 86px;
    top: 44.78px;

}

.menu {
    width: 566.62px;
    height: 15px;
    left: 756.55px;
    top: 37px;

}

.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.menu li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.23em;

    color: #FFFFFF;
}

li {
    list-style: none;
}

.header_contact {
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    align-items: center;
}

.phone_head {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #ffffff;

}

a {
    text-decoration: none;
}

.button {
    background-color: aliceblue;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    background: url(img/phone_1.svg) center no-repeat;
    margin-right: -30px;
    cursor: pointer;
}

.wrapper {
    margin: auto;
    position: relative;
}

#header {
    margin: 0 auto;
    position: relative;
    height: 940px;
    color: #fff;
    background-size: cover;
    background: url(img/photo_header.jpg) center top no-repeat;
    max-width: 100%;

}

#header .container {
    height: 100%;

}

.header_box {
    position: absolute;
    width: 1170px;
    height: 57px;
    left: 328.84px;
    top: 296.45px;
}

.header_slogan P {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.035em;
    color: #FFFFFF;
    padding-bottom: 10px;
    margin: 0 auto;
}

.header_slogan_2 p {
    width: 718px;
    height: 163px;
    left: 329px;
    top: 358px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.23em;
    margin: 0;
    color: #FFFFFF;

}

.header_slogan_data {
    display: flex;
    padding-bottom: 40px;
}

.header_slogan_data span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.23em;

    color: #E8B80F;
}

.header_slogan_data li {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;

    color: #FFFFFF;
}

.btn {

    width: 230px;
    height: 70px;

    background: #E8B80F;
    border-radius: 55px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 750;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.11em;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-right: 40px;
}

.btn:hover {
    background: rgb(255, 255, 255);
}

.btn_2 {
    position: absolute;
    width: 310px;
    height: 70px;
    background: #FFFFFF;
    border-radius: 55px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 750;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.11em;
    color: #000000;

}

.btn_2:hover {
    background: #E8B80F;
}

.btn_3 {
    width: 230px;
    height: 53px;
    left: 1629px;
    top: 346px;
    background: #E8B80F;
    border-radius: 55px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 750;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.11em;
    color: #000000;


}

.btn_3:hover {
    background: #FFFFFF;
}

.buttons {
    position: absolute;
    width: 290.68px;
    height: 47.88px;
    left: 1350px;
    top: 40px;
}

#about_country {
    background: url(img/about_country_bg.jpg)center bottom no-repeat;
    ;
    min-height: 1609;
}